<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark ">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">                                               <!-- margin right - push items to the right -->
<!----REMEMBER TO EDIT YOUR MvcConfig as well under Security Folder -->
                <li class="nav-item"><a class="nav-link" th:href="@{todolist}"> TODO List </a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{todolistform}"> New TODO Item </a></li>

            </ul>


        </div>
    </nav>



</body>
</html>